<body>
  <div class="container">

    <div *ngIf="showSpinner">Cargando...</div>

    <div class="row mat-elevation-z8" *ngIf="!showSpinner">
      <table mat-table [dataSource]="dataPaginacion">

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="trips">
          <th mat-header-cell *matHeaderCellDef> Trip </th>
          <td mat-cell *matCellDef="let element"> {{element.trips}} </td>
        </ng-container>

        <ng-container matColumnDef="airline">
          <th mat-header-cell *matHeaderCellDef> Airline Name </th>
          <td mat-cell *matCellDef="let element"> {{element.airline[0].name}} </td>
        </ng-container>

        <ng-container matColumnDef="airlineCountry">
          <th mat-header-cell *matHeaderCellDef> Airline Country </th>
          <td mat-cell *matCellDef="let element"> {{element.airline[0].country}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator 
        [pageSizeOptions]="[5, 10, 20]" 
        [length]="totalPassengers" 
        [pageSize]="pageSize" 
        [pageIndex]="page" 
        (page)="pageEvents($event)" 
        showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</body>
  


