<div>
    <p>Styling</p>
    <button (click)="openPdfStyle()">Open PDF - Styling</button>
</div>

<div>
   <p>Free Style</p>
   <button (click)="openFreeStyle()">Open PDF - Free Style</button>
</div>


<div>
    <p>Styling Dictionaries</p>
    <button (click)="openPdfStyleDict()">Open PDF - Styling Dictionaries</button>
</div>

<div>
    <p>Columns</p>
    <button (click)="openPdfColumns()">Open PDF - Columns</button>
</div>

<div>
    <p>Tables</p>
    <button (click)="openPdfTables()">Open PDF - Tables</button>
</div>

<div>
    <p>Lists</p>
    <button (click)="openPdfLists()">Open PDF - Lists</button>
</div>

<div>
    <p>Static Headers and Footers </p>
    <button (click)="openPdfHeadersAndFootersStatic()">Open PDF - static headers and footers</button>
</div>

<div>
    <p>Dynamic Headers and Footers </p>
    <button (click)="openPdfHeadersAndFootersDynamic()">Open PDF - dynamic headers and footers</button>
</div>

<div>
    <p>Background Layer </p>
    <button (click)="openPdfBackgroundLayer()">Open PDF - background layer</button>
</div>

<div>
    <p>Margins </p>
    <button (click)="openPdfMargins()">Open PDF - margins</button>
</div>

<div>
    <p>Stack Of Paragraphs </p>
    <button (click)="openPdfStackOfParagrahps()">Open PDF - stack of paragraphs</button>
</div>

<div>
    <p>Images </p>
    <button (click)="openPdfImages()">Open PDF - Images</button>
</div>

<div>
    <p>SVGs </p>
    <button (click)="openPdfSVGs()">Open PDF - SVGs</button>
</div>

<h1>GENERADO DESDE UNA VARIABLE</h1>
<div class="top">
   <div [innerHtml]="data"></div>
 </div>

<hr>

<svg width="100" height="100">
    <circle   [ngClass]= "classEval"   cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
  </svg>

  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 210 297"
   height="297mm"
   width="210mm">
  <defs
     id="defs2" />
  <metadata
     id="metadata5">

  </metadata>
  <g
     id="layer1">
    <rect
      [ngClass]= "classEval"
       style="stroke-width:0.26458332"
       [id] = "1"
       ry="15.119047"
       y="48.291664"
       x="30.994047"
       height="40.065475"
       width="30.238094"
        />
    <rect
      [ngClass]= "classEval"
       id = "2"
       style="stroke-width:0.26458332"
       ry="14.741072"
       y="48.291664"
       x="97.51786"
       height="42.333332"
       width="29.482143"
       />
    <rect
      [ngClass]= "classEval"
       id = "3"
       style="stroke-width:0.26458332"
       ry="14.741075"
       y="128.42262"
       x="61.988094"
       height="49.136902"
       width="32.505951"
       />
  </g>
</svg>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="210mm"
   height="297mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
   sodipodi:docname="drawing_inkscape.svg">
  <defs
     id="defs2" />
  
  <metadata
     id="metadata5">

  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       id="rect10"
       width="30.238094"
       height="40.065475"
       x="30.994047"
       y="48.291664"
       ry="15.119047"
       style="stroke-width:0.26458332" />
    <rect
       id="rect12"
       width="29.482143"
       height="42.333332"
       x="97.51786"
       y="48.291664"
       ry="14.741072"
       style="stroke-width:0.26458332" />
    <rect
       id="rect14"
       width="32.505951"
       height="49.136902"
       x="61.988094"
       y="128.42262"
       ry="14.741075"
       style="stroke-width:0.26458332" />
  </g>
</svg>


<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 210 297"
   height="297mm"
   width="210mm">
  <defs
     id="defs2" />
  <metadata
     id="metadata5">

  </metadata>
  <g
     id="layer1">
    <rect
       style="stroke-width:0.26458332"
       ry="15.119047"
       y="48.291664"
       x="30.994047"
       height="40.065475"
       width="30.238094"
       id="rect10" />
    <rect
       style="stroke-width:0.26458332"
       ry="14.741072"
       y="48.291664"
       x="97.51786"
       height="42.333332"
       width="29.482143"
       id="rect12" />
    <rect
       style="stroke-width:0.26458332"
       ry="14.741075"
       y="128.42262"
       x="61.988094"
       height="49.136902"
       width="32.505951"
       id="rect14" />
    <text
       id="text18"
       y="110.27975"
       x="130.77975"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="stroke-width:0.26458332"
         y="110.27975"
         x="130.77975"
         id="tspan16">mensaje</tspan></text>
  </g>
</svg>